.requestparent{
  width: 100%;
  height: max-content;
}
.prayerwrap {
  width: 100%;
  height: 600px;
  /* background-color: #a2c2dc; */
}
.requesthold {
  width: 100%;
  height: 20%;
  /* color: white; */
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
.requestbody {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  background-image: url("https://media.istockphoto.com/id/1456438449/photo/woman-praying-with-the-bible-on-the-table.webp?b=1&s=170667a&w=0&k=20&c=7G45WvQUwx5xG_3-soyAOinTF42uughFl7WfS4J7Ur0=");
  background-size: cover;
  /* background-repeat: ; */
}
.leftrequest {
  width: 70%;
  height: 100%;
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: normal;
  padding-left: 20px;
  /* font-family: lat; */
  /* background-color: white; */
}
.leftrequest button {
  width: 50%;
  height: 20%;
  font-size: 20px;
  border: 1px solid silver;
}
.leftrequest button:hover {
  background-color: #ecc731;
}
.leftrequest button:active {
  background-color: #bea02ae5;
}
.rightrequest {
  width: 50%;
  height: 100%;
  display: flex;
  padding-left: 5%;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
}

@media screen and (width < 760px) {
  .prayerwrap {
    height: max-content;
  }
  .requesthold {
    height: max-content;
    padding: 1%;
    flex-wrap: wrap;
  }
  .leftrequest {
    height: max-content;
    width: 98%;
    flex-wrap: wrap;
    padding: 1%;
    gap: 20px;
  }
  .leftrequest button {
    height: max-content;
    width: max-content;
    padding: 10px;
  }
}
